@page "/movies"
@using Microsoft.AspNetCore.Authorization
@using Telerik.Blazor
@using Telerik.Blazor.Components
@using global::Movies.VerticalSlice.Api.Services
@using global::Movies.VerticalSlice.Api.Shared.Dtos
@using global::Movies.VerticalSlice.Api.Blazor.Shared
@using Microsoft.AspNetCore.Components.Authorization

@inject IHttpClientFactory HttpClientFactory
@inject IMovieService MovieService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

@inherits GridComponentBase
<PageTitle>Movies</PageTitle>

<h2>Movies</h2>

<StatusMessage Message="@statusMessage" IsError="@isError" />
<TelerikGrid Data="@movies"
             Pageable="true"
             PageSize="20"
             Sortable="true"
             Height="80vh"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             EditMode="GridEditMode.Inline"
             Resizable="true"
             @ref="gridRef"
             OnUpdate="OnUpdateHandler"
             OnDelete="OnDeleteHandler"
             OnCreate="@OnCreateHandler"
             OnEdit="@OnEditHandler"
             OnCancel="@OnCancelHandler">

    <GridToolBarTemplate>
        <GridCommandButton Command="Add">Add Movie</GridCommandButton>
    </GridToolBarTemplate>
    <GridColumns>
        <GridColumn Field="Title" Title="Title" Editable="true" Width="400px" />
        <GridColumn Field="YearOfRelease" Title="Year" Editable="true" Width="100px" />
        <GridColumn Field="Genres" Title="Genres" Editable="true" Width="500px" />
        <GridCommandColumn Width="280px">
            <GridCommandButton Command="Edit" ShowInEdit="false">Edit</GridCommandButton>
            <GridCommandButton Command="Delete" ShowInEdit="false">Delete</GridCommandButton>
            <GridCommandButton Command="Save" ShowInEdit="true">Save</GridCommandButton>
            <GridCommandButton Command="Cancel" ShowInEdit="true">Cancel</GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>
@code {
    private HttpClient Http => HttpClientFactory.CreateClient("AuthorizedClient");
    private List<MovieDto> movies = new();
    private TelerikGrid<MovieDto>? gridRef;
   

    protected override async Task OnInitializedAsync()  
    {  
        await base.OnInitializedAsync();
        await LoadMoviesAsync();  
    }  

    public async Task OnCreateHandler(GridCommandEventArgs args)
    {
        if (args.Item is not MovieDto newMovie) return;
        var response = await MovieService.CreateAsync(newMovie);
        if (response.IsSuccessStatusCode)
        {
            await SetStatusMessage($"Movie {newMovie.Title} created", false);
            await LoadMoviesAsync();
        }
        else
        {
            await SetStatusMessage("Failed to create movie", true);
        }
    }
    public async Task OnUpdateHandler(GridCommandEventArgs args)
    {
        if (args.Item is not MovieDto movie) return;
        var response = await MovieService.UpdateAsync(movie.MovieId, movie);
        if (response.IsSuccessStatusCode)
        {
            await SetStatusMessage($"Movie {movie.Title} updated", false);
            await LoadMoviesAsync();
        }
        else
        {
            await SetStatusMessage("Failed to update movie", true);
        }
    }

    public async Task OnDeleteHandler(GridCommandEventArgs args)
    {
        if (args.Item is not MovieDto movie) return;
        var response = await MovieService.DeleteAsync(movie.MovieId);
        if (response.IsSuccessStatusCode)
        {
            await SetStatusMessage($"Movie {movie.Title} removed", false);
            await LoadMoviesAsync();
        }
        else
        {
            await SetStatusMessage("Failed to delete movie", true);
        }
    }

    
    Task OnEditHandler(GridCommandEventArgs e)
    {
        return Task.CompletedTask;
    }

    async Task OnCancelHandler(GridCommandEventArgs e)
    {
        await ClearStatusMessage();
    }
    async Task LoadMoviesAsync()
    {
        try
        {
            movies = await MovieService.GetAllAsync() ?? new List<MovieDto>();
            await SetStatusMessage($"Loaded {movies.Count} movies", false);
        }
        catch (Exception ex)
        {
            await SetStatusMessage($"Error loading movies: {ex.Message}", true);
        }
    }


  
}
