@page "/movies"
@using Telerik.Blazor
@using Telerik.Blazor.Components
@using global::Movies.VerticalSlice.Api.Services
@using global::Movies.VerticalSlice.Api.Shared.Dtos

@inject IHttpClientFactory HttpClientFactory
@inject MovieService MovieService
<PageTitle>Movies</PageTitle>

<h2>Movies</h2>

@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert @(isError ? "alert-danger" : "alert-success")" role="alert">
        @statusMessage
    </div>
}

<TelerikGrid Data="@movies"
             Pageable="true"
             PageSize="20"
             Sortable="true"
             Height="80vh"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             EditMode="GridEditMode.Inline"
             Resizable="true"
             @ref="gridRef"
             OnUpdate="OnUpdateHandler"
             OnDelete="OnDeleteHandler"
             OnCreate="@OnCreateHandler"
             OnEdit="@OnEditHandler"
             OnCancel="@OnCancelHandler">

    <GridToolBarTemplate>
        <GridCommandButton Command="Add">Add Movie</GridCommandButton>
    </GridToolBarTemplate>
    <GridColumns>
        <GridColumn Field="Title" Title="Title" Editable="true" Width="400px" />
        <GridColumn Field="YearOfRelease" Title="Year" Editable="true" Width="100px" />
        <GridColumn Field="Genres" Title="Genres" Editable="true" Width="500px" />
        <GridCommandColumn Width="280px">
            <GridCommandButton Command="Edit" ShowInEdit="false">Edit</GridCommandButton>
            <GridCommandButton Command="Delete" ShowInEdit="false">Delete</GridCommandButton>
            <GridCommandButton Command="Save" ShowInEdit="true">Save</GridCommandButton>
            <GridCommandButton Command="Cancel" ShowInEdit="true">Cancel</GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>
@code {
    private HttpClient Http => HttpClientFactory.CreateClient("AuthorizedClient");
    private List<MovieDto> movies = new();
    private TelerikGrid<MovieDto>? gridRef;
    private string statusMessage = "";
    private bool isError = false;



    protected override async Task OnInitializedAsync()  
    {
        await LoadMoviesAsync();
    }  

    async Task OnUpdateHandler(GridCommandEventArgs args)
    {
        if (args.Item is not MovieDto updatedMovie) return;
        await MovieService.UpdateAsync(updatedMovie.MovieId, updatedMovie);
        await LoadMoviesAsync();
    }

    async Task OnDeleteHandler(GridCommandEventArgs args)
    {
        if (args.Item is not MovieDto updatedMovie) return;
        await MovieService.DeleteAsync(updatedMovie.MovieId);
        await LoadMoviesAsync();
    }

    async Task OnCreateHandler(GridCommandEventArgs args)
    {
        if (args.Item is not MovieDto newMovie) return;
        await MovieService.CreateAsync(newMovie);
        await LoadMoviesAsync();
    }
    Task OnEditHandler(GridCommandEventArgs e)
    {
        return Task.CompletedTask;
    }

    Task OnCancelHandler(GridCommandEventArgs e)
    {
        ClearStatusMessage();
        return Task.CompletedTask;
    }
    async Task LoadMoviesAsync()
    {
        try
        {
            movies = await MovieService.GetAllAsync() ?? new List<MovieDto>();
            SetStatusMessage($"Loaded {movies.Count} movies", false);
        }
        catch (Exception ex)
        {
            SetStatusMessage($"Error loading movies: {ex.Message}", true);
        }
    }

    void SetStatusMessage(string message, bool error)
    {
        statusMessage = message;
        isError = error;
        StateHasChanged();

        Task.Delay(5000).ContinueWith(_ => ClearStatusMessage());
    }

    void ClearStatusMessage()
    {
        statusMessage = "";
        StateHasChanged();
    }
}
 
